* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: #4f4c47e2;
}
h1 {
  color: #edede9b3;
  background-color: #f5ebe0;
  height: 5rem;
  line-height: 5rem;
}
.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
img {
  height: 150px;

  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.6s ease;
  border-radius: 50%;
  background-color: #f5ebe0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.score-board {
  display: flex;
  color: #edede9b3;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 2rem;
  margin-top: 1.5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#msg {
  font-size: 2rem;
  color: #edede9b3;
  background-color: #f5ebe0;
  display: inline;
  padding: 1rem;
  border-radius: 30px;
}
